.item span {
    display: block;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
}

.item h2 {
    margin-bottom: 20px;
    text-align: center;
}

.item img {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    height: auto;
}